<apex:page >
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.0.0-beta/nv.d3.min.js"></script>
 <script>
     var drawChart = function(matrixReportId) {
         alert('Report ID: ' + matrixReportId);
         $.ajax('/services/data/v33.0/analytics/reports/'+matrixReportId+'?includeDetails=true',
         {
             beforeSend: function(xhr) {
                 xhr.setRequestHeader('Authorization', 'Bearer {!$Api.Session_ID}');
             },
             success: function(response) {
                 console.log(response);
                 alert('response.groupingsDown.groupings.length: ' + response.groupingsDown.groupings.length); 
                 alert('response.groupingsAcross.groupings.length: ' + response.groupingsAcross.groupings.length);   
             }
         });
     };
     $(document).ready(function(){ 
        drawChart('00O90000008K3ZD');
     });
 </script>
 Hello This is the test page for Tabular Report
</apex:page>