<apex:page controller="StudentDetailController">
	<apex:form >
		<apex:pageBlock Title="JSON Parser Example">
			<apex:commandButton value="Parse JSON Data" action="{!parseJSONData}"
				reRender="studentData" />
		</apex:pageBlock>
		<br />
		<apex:pageBlock id="studentData">
			First Name: <apex:inputText value="{!firstName}" />
			Last Name: <apex:inputText value="{!lastName}" />
			<br/>
			 
			<apex:pageBlockSection title="Language Known:" collapsible="false">
				<apex:selectList value="{!selectedLanguage}" multiselect="false"
					size="1">
					<apex:selectOptions value="{!languageOptions}"/>
				</apex:selectList>
			</apex:pageBlockSection>
			<apex:pageBlockSection title="Places Visited:" collapsible="false">
				Hill Station:
				<apex:selectList value="{!selectedHillStation}" multiselect="false"
					size="1">
					<apex:selectOptions value="{!hillStations}"/>
				</apex:selectList>
				Sea Side:
				<apex:selectList value="{!selectedSeaSide}" multiselect="false"
					size="1">
					<apex:selectOptions value="{!seaSides}"/>
				</apex:selectList>
				Desert:
				<apex:selectList value="{!selectedDesert}" multiselect="false"
					size="1">
					<apex:selectOptions value="{!deserts}"/>
				</apex:selectList>
			</apex:pageBlockSection>
			
		</apex:pageBlock>
	</apex:form>
</apex:page>